:root {
    --red: #cb2c37;
    --orange: #ea9a37;
    --pink: #d2458a;
    --purple: #89287d;
    --lime: #cdcd43;
    --green: #71cd43;
    --teal: #48a3a8;
    --light-blue: #6fbdd0;
    --charcoal: #434343;

}

  /* :-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
} */

body {
    background-color: antiquewhite;
    font-family: 'Roboto Mono', monospace;
    color: black;
}

div {
    /* border: 2px solid green; */
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}

.main-wrapper { 
    border: none;
    display: grid; 
    grid-template-columns: 2fr 7fr 3fr; 
    grid-template-rows:repeat(12, minmax(50px, 1fr)); 
    column-gap: 0px;
    row-gap: 0px;
    max-width: 1600px;
} 

#sketch-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-title {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    padding: 0px;
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
    
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    /* font-size: 1em; */
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    /* font-size: 2em; */
}

.item {
    flex-grow: 1; /* default 0 */
}



.box {
    padding: 0px;
    border-width: 0px; 
    border-style: solid;
    /* border-color: var(--red); */
    border-radius: 25%/10%;
    padding: 10px;
}
  
.upper-display { 
    grid-column-start:2; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 1; 
    justify-content: center;
    background-color:var(--orange);

}

.lower-display { 
    grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start: 10; 
    grid-row-end: 12; 
    justify-content: space-evenly;
    background-color:var(--pink);
}

.score-board { 
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 12;
    background-color:var(--green);
}

.scoreboard-item {
    background-color:var(--red);
    width: 100%
}

.drawing-canvas {
    grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 10; 
    background-color:var(--red);
    height: 500px;
    /* width: minmax(900px, 1fr); */
    border-radius: 20%;
}

.player-controls { 
    grid-column-start: 3; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 5; 
}

/* .admin-panel { 
    grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 4; 
    grid-row-end: 6; 
} */



.message-stream { 
    grid-column-start: 3; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 12; 
    background-color:var(--light-blue);
}


#messages-box{
    border: 2px solid black;
    background-color: whitesmoke;
    width: 90%;
    height: 150px;
    padding-left: 5px;
    overflow: auto;
  }

 #target-word, #timer{
     font-size: 1.5em;
 }

 .button{
    font-family: 'Orbitron', sans-serif;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: var(--lime);
    color: var(--purple);
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.button:active {/*OnClick*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*Reduce Shadow*/
    border-bottom: none;
}

#clear-button{
    font-size:  1.5em;
}